<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=no,minimal-ui">
    <title>菩提阁</title>
    <link rel="icon" href="./../images/favico.ico">
    <!--不同屏幕尺寸根字体设置-->
    <script src="./../js/base.js"></script>
    <!--element-ui的样式-->
    <link rel="stylesheet" href="../../backend/plugins/element-ui/index.css"/>
    <!--引入vant样式-->
    <link rel="stylesheet" href="../styles/vant.min.css"/>
    <!-- 引入样式  -->
    <link rel="stylesheet" href="../styles/index.css"/>
    <!--本页面内容的样式-->
    <link rel="stylesheet" href="./../styles/login.css"/>
</head>
<body>
<div id="login" v-loading="loading">
    <div class="divHead">登录</div>
    <div class="divContainer">
        <el-input placeholder="请输入邮箱" v-model="form.mail" maxlength="50"></el-input>
        <div class="divSplit"></div>
        <el-input type="password" placeholder="请输入密码" v-model="form.password" maxlength="50"></el-input>
    </div>
    <el-button type="primary" :class="{btnSubmit: true, btnNoPhone: !form.mail, btnPhone: form.mail}" @click="btnLogin">
        登录
    </el-button>
    <el-button type="primary" :class="{btnSubmit: true}"
               @click="btnRegister">注册
    </el-button>
</div>
<!-- 开发环境版本，包含了有帮助的命令行警告 -->
<script src="../../backend/plugins/vue/vue.js"></script>
<!-- 引入组件库 -->
<script src="../../backend/plugins/element-ui/index.js"></script>
<!-- 引入vant样式 -->
<script src="./../js/vant.min.js"></script>
<!-- 引入axios -->
<script src="../../backend/plugins/axios/axios.min.js"></script>
<script src="./../js/request.js"></script>
<script src="./../api/login.js"></script>
</body>
<script>
    new Vue({
        el: "#login",
        data() {
            return {
                form: {
                    mail: '',
                    password: ''
                },
                loading: false
            }
        },
        methods: {
            async btnLogin() {
                const regex = /^[a-zA-Z0-9_-]+@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+)+$/;
                if (!regex.test(this.form.mail)) {
                    this.$notify({type: 'warning', message: '请正确输入邮箱！'});
                    return;
                }
                const regex1 = /^.{6,}$/;
                if (!regex1.test(this.form.password)) {
                    this.$notify({ type: 'warning', message: '密码最少6位' });
                    return;
                }
                    this.loading = true;
                    try {
                        const res = await loginApi({mail: this.form.mail, password: this.form.password});
                        this.loading = false;
                        if (res.code === 1) {
                            localStorage.setItem("userId", res.data.id);
                            window.requestAnimationFrame(() => {
                                window.location.href = '/front/index.html';
                            });
                        } else {
                            this.$notify({type: 'warning', message: res.msg});
                        }
                    } catch (e) {
                        this.loading = false;
                    }
            },
            async btnRegister() {
                window.location.href = 'register.html';
            }
        }
    });
</script>
</html>
